* {box-sizing: border-box}
            body {
                font-family: Verdana, sans-serif;
                background-color: black;
            }
            .myCarousel{
                background-color: #24262b;
            }
            .mySlides {display: none;}
            img {vertical-align: middle;}
            /*Contenedor del Carrusel*/
            .contenedor-slideshow{
                max-width: 1000px;
                position: relative;
                margin: auto;
            }
            /*Textos Slides*/
            .texto {
                color: #f2f2f2;
                font-size: 15px;
                padding: 8px 12px;
                position: absolute;
                bottom: 8px;
                width: 100%;
                text-align: center;
            }
            /*Numero texto (1/3 etc...)*/
            .numerotexto {
                color: #f2f2f2;
                font-size: 12px;
                padding:  8px 12px;
                position: absolute;
                top: 0;
            }
            /*Los puntos/bullets/indicadores*/
            .punto {
                height: 15px;
                width: 15px;
                margin: 0 2px;
                background-color: #bbb;
                border-radius: 50%;
                display: inline-block;
                transition: background-colorr 0.6s ease;
            }
            .activo {
                background-color: #717171;
            }
            /* animacion desvanecer */
            .desvanecer {
                -webkit-animation-name: fade;
                -webkit-animation-duration:  1.5s;
                animation-name:  fade;
                animation-duration:  1.5s;
            }
            @-webkit-keyframes fade {
                from {opacity: .4}
                to {opacity: 1}
            }
            @keyframes fade {
                from {opacity: .4}
                to {opacity: 1}
            }
            /*en pantallas pequeñas se reduce el tamaño del texto*/
            @media only screen and (max-width: 300px) {
                .texto {font-size: 11px}
            }


           

            .navbar {
              margin-bottom: 0;
              border-radius: 0;
              background-color: #24262b;
            }
            
            footer {
                background-color: black;
              padding: 25px;
            }
            
          .carousel-inner img {
              width: 50%; 
              margin: auto;
              min-height:200px;
          }
        
          @media (max-width: 600px) {
            .carousel-caption {
              display: none; 
            }
          }
        
         /*GALERY*/
         
         .galeria {
            font-family: 'Saira Condensed', sans-serif;	
            margin-top: 100px;
        }
        .galeria h1{
            text-align: center;
            margin: -35px 0px 15px 0px; 	/*margen para el titulo de la galeria*/
            font-weight: 300;
        }
        .linea {
            color: #B4045F;
            border-top: 5px solid ;
            margin-bottom: 10px;
        }
        .contenedor-imagenes {
            display: flex;
            width: 70%;
            margin: auto;
            justify-content: space-around;
            flex-wrap: wrap;
            border-radius: 3px;
        }
        .contenedor-imagenes .imagen {
            width: 20%;
            position: relative;
            height: 190px;  /*ancho de las imagenes */
            margin-bottom: -2px;
            box-shadow: 0px 0px 3px 0px rgba(0,0,0, .75) ;
        }
        .imagen img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            background: #e92f8c;
            opacity: .4;
            width: 100%;
            height: 0;
            transition: 0.4s;
        }
        .overlay h2 {
            color: #fff;
            font-weight: 400;
            font-size: 25px;
            position: absolute;
            top: 50%;
            left: 50%;
            text-align: center;
            transform: translate(-50%, -50%);
        }
        .imagen:hover .overlay {
            height: 100%;
            cursor: pointer;
        }
        
          @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
        
        *{
            margin:0;
            padding:0;
            box-sizing: border-box;
        }
        .container{
            max-width: 1170px;
            margin:auto;
        }
        .row{
            display: flex;
            flex-wrap: wrap;
        }
        ul{
            list-style: none;
        }
        .footer{
            background-color: #24262b;
            padding: 70px 0;
        }
        .footer-col{
           width: 25%;
           padding: 0 15px;
        }
        .footer-col h4{
            font-size: 18px;
            color: #ffffff;
            text-transform: capitalize;
            margin-bottom: 35px;
            font-weight: 500;
            position: relative;
        }
        .footer-col h4::before{
            content: '';
            position: absolute;
            left:0;
            bottom: -10px;
            background-color: #e91e63;
            height: 2px;
            box-sizing: border-box;
            width: 50px;
        }
        .footer-col ul li:not(:last-child){
            margin-bottom: 10px;
        }
        .footer-col ul li a{
            font-size: 16px;
            text-transform: capitalize;
            color: #ffffff;
            text-decoration: none;
            font-weight: 300;
            color: #bbbbbb;
            display: block;
            transition: all 0.3s ease;
        }
        .footer-col ul li a:hover{
            color: #ffffff;
            padding-left: 8px;
        }
        .footer-col .social-links a{
            display: inline-block;
            height: 40px;
            width: 40px;
            background-color: rgba(255,255,255,0.2);
            margin:0 10px 10px 0;
            text-align: center;
            line-height: 40px;
            border-radius: 50%;
            color: #ffffff;
            transition: all 0.5s ease;
        }
        .footer-col .social-links a:hover{
            color: #24262b;
            background-color: #ffffff;
        }
        
        /*responsive*/
        @media(max-width: 767px){
          .footer-col{
            width: 50%;
            margin-bottom: 30px;
        }
        }
        @media(max-width: 574px){
          .footer-col{
            width: 100%;
        }
        }
        
        
        form{
            padding: 60px;
            max-width: 400px;
            background-color: #E7E7E7;
            margin: 0 auto;
          }
        
          form input{
            margin-bottom: 15px;
            width: 100%;
            padding: 10px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box; 
            border: none; 
            color: black; 
            font-size: 1em;
            resize: horizontal; 
          }
        
            form input .botons {
            width: 100%;
            background: #AD1457;
            border: none;
            padding: 12px;
            color: black;
            margin: 16px 0;
            font-size: 16px;
            cursor: pointer;
            font-family: 'Open Sans Condensed', sans-serif;
            
            }
        
            .botons:hover {
        
            background: #AB47BC;
            color: white;
            border-radius: 6px;
            
            }
        
            form select {
                font-size: 15px;
                font-family: 'Verdana', sans-serif;
                font-weight: 100;
                color: #444;
                width: 200px;
                max-width: 100%; 
              }
        
            form label {
                font-family: 'Open Sans Condensed', sans-serif;
                font-size: 22px;
                color: black;
                
            }
        
            form h4{
                font-family: 'Open Sans Condensed', sans-serif;
                font-size: 22px;
                color: black;
                text-align: center;
            }
        
            form textarea
            {
                margin-top: 18px;
                width: 100%;
                padding: 20px;
                font-size: 18px;
                color: black;
            }
        
        